<main class="main">
  <section class="section favorite js_favoriteSection">
    <div class="favorite__wrap">
      <h1 class="section__title">
        Favorites <i class="fa-solid fa-heart"></i>
      </h1>
      <button class="favorite__wrap--resetBtn js-resetBtn">
        Clean favorites
      </button>
    </div>
    <ul class="section__list js-favoriteList"></ul>
  </section>
  <section class="section characters js_charactersSection">
    <h1 class="section__title">Characters <i class="fa-solid fa-heart"></i></h1>
    <!--  <button class="favorite__wrap--resetBtn js-logBtn">LOG</button> -->
    <ul class="section__list characters__list js-characterList"></ul>
  </section>
</main>
