//Font
$defaultFontSize:16;
@function rem($pixels) {
    @return ($pixels/$defaultFontSize*1rem);
}

//Mixins
@mixin t($fontSize,$fontHeight) {
    font-size: $fontSize;
    line-height: $fontHeight;
}

// colors
$color_primary:rgb(222, 114, 26);
$color_secundary:white; 
