.footer {
    height:rem(25);
    color:$color_secundary;
    background-color:$color_primary;
    &__copy {
        padding:3px;
        @include flex(row, center, center);
        @include t(rem(12),rem(14));
    }
}